/* TODO Add site wide styles */

#errors {
    color: red;
    font-size: 13px;
}


#root {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}


.out {
  display:flex;
}