/* TODO Add site wide styles */

#errors {
    color: red;

}


#root {
    /* display: flex; */
    /* flex-direction: row; */
    /* height: 100%; */
    position: absolute;
    /* width: 100%; */
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    /* top: 68px; */
    /* padding-top: 68px; */
}

