.signupForm{
    width: 500px;
    padding: 25px;
    border-radius: 8px;
    /* border: solid 1px #323231; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 670px;
    height: auto;
    max-height: 80vh;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

}

.loginForm{
    width: 500px;
    padding: 25px;
    border-radius: 8px;
    /* border: solid 1px #323231; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    height: auto;
    max-height: 80vh;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.loginFormContainer {
    display:flex;
    justify-content: center;
    height:auto;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
}

#loginLogo {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #00C78F;
    font-weight: bold;
    justify-content: flex-end;
}

#loginLogo img{
    width: 60px;
    height: 60px;
}


.loginFormContent h1 {
    font-size: 26px;
    font-weight: 700px;
    margin: 0 0 1em;
    padding: 0;
}

.loginFormContent form {
    margin-top:40px;
}

.loginFormContent p{
    font-size: 13px;
}

.loginFormContent input {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing:border-box;
    font-size: 13px;
    font-weight: 400;
    padding: 0.75em 1em;
    width:100%;
}

.login-inputs {
    margin: 10px 0;
}

.loginFormContent label {
    display: block;
    font-size: 13px;
    font-weight:700;
    margin-bottom: 5px;
}

.loginFormContent button {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: auto;
    padding: 9px 12px;
    text-align: center;
    width: 100%;
    background-color:#00A173;
    border-radius: 5px;
    color: white;
    margin-top:5px;
}

.signupLink {
    border-top: 1px solid black;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.signupLink p {
    margin: 20px;
}

.signupLink a {
    text-decoration: none;
    margin-left: 10px;
    color: #00C78F;
}


footer {
    display:flex;
    justify-content:center;
    flex-direction: row;
    margin: 0px 0px 30px;
    font-size: 14px;
    gap: 20px;
    color:white;
    align-items: center;
    text-shadow: #00EDAA 1px 0 10px;
}



.carousel {
    width: 100%;
    z-index: -100;
    height: 100%;
    overflow: hidden;
    position: relative;
    
}

.carousel img {
    position: absolute;
    width:100%;
    height: 100%; 
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}

.carousel img.active {
    opacity: 1;
}

#login-page {
    display:flex; 
    flex-direction:column;
    justify-content:space-between;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 200px;
    background-color: transparent;
    z-index: 100;
    margin-top: 60px;
}

#login-wrapper {
    position: absolute;
    /* width: -webkit-fill-available;
    height: -webkit-fill-available; */
    /* top:-68px; */
    /* width: fit-content;
    height: fit-content; */
    margin: 0 auto;
}



.carousel-container {
    /* width: -webkit-fill-available;
    height: -webkit-fill-available; */
    height: 100%;
    width: 100%;
    /* width: 100vh;
    height: 100vh; */
    top:0;
    bottom: 0;
    z-index: -100;
    position: absolute;
}

.tech-icons i {
    font-size: 5em;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em #00EDAA, 0 0 0.2em #00EDAA;
    margin: 0px 40px;
}

