.loginForm{
    width: 500px;
    padding: 25px;
    border-radius: 8px;
    border: solid 1px #323231;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    height: auto;
    max-height: 80vh;
    
}

.loginFormContainer {
    display:flex;
    justify-content: center;
    height:auto;
    align-items: center;
    width: 100vw;
}

#loginLogo {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #00C78F;
    font-weight: bold;
    justify-content: flex-end;
}

#loginLogo img{
    width: 60px;
    height: 60px;
}


.loginFormContent h1 {
    font-size: 26px;
    font-weight: 700px;
    margin: 0 0 1em;
    padding: 0;
}

.loginFormContent form {
    margin-top:40px;
}

.loginFormContent p{
    font-size: 13px;
}

.loginFormContent input {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing:border-box;
    font-size: 13px;
    font-weight: 400;
    padding: 0.75em 1em;
    width:100%;
}

.login-inputs {
    margin: 10px 0;
}

.loginFormContent label {
    display: block;
    font-size: 13px;
    font-weight:700;
    margin-bottom: 5px;
}

.loginFormContent button {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: auto;
    padding: 9px 12px;
    text-align: center;
    width: 100%;
    background-color:#00A173;
    border-radius: 5px;
    color: white;
    margin-top:5px;
}

.signupLink {
    border-top: 1px solid black;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.signupLink p {
    margin: 20px;
}

.signupLink a {
    text-decoration: none;
    margin-left: 10px;
    color: #00C78F;
}

#login-page {
    display:flex; 
    flex-direction:column;
    justify-content:space-between;
    height: 90vh;
}

footer {
    display:flex;
    justify-content:center;
    flex-direction: row;
    margin: 0px 0px 30px;
    font-size: 12px;
    gap: 20px;
}