
.tasks-container {
    display:flex;
    flex-direction: column;
    min-width: 60vw;
    width: 100%;
    height: auto;
    align-items: center;
}

.task-container {
    display: flex;
    margin: 10px;
    align-items: center;
    gap:20px;
}

.task-name-description {
    display:flex;
    flex-direction: column;
    list-style:none;
    
}

.task {
    padding: 5px;
}

.name {
    font-weight: 500;
}

.description {
    font-weight: 300;
}